@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background: #3f3f3f;
    font-size: 25px;
}

.quiz {
    background: #3f3f3f;
    justify-content: center;
    align-items: center;
}

.caixa {
    padding: 30px;
    width: 90%;
    height: 90%;
    margin: 25px;
    background: #fff;
    text-align: center;
    border-radius: 25px;
}